*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: bisque;
}
nav{
    background-color: rgb(110, 10, 32);
    border: black solid 2px;
    }
nav ul li a:hover{
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
}
.image{
    display: flex;
    justify-content: center;
    padding: 0.5rem;    
}
#authorinfo{
    text-align: center;
    font-style: italic;
    font-family: Lucida Sans;
    font-size: x-small;
    color: rebeccapurple;
}
.quote{
    font-weight: bold;
}
body{
    background-color: bisque;
    display: grid;
}
h1 {
    text-align: center;
    color: rgb(110, 10, 32);
    font-family: 'Lucida Sans';
}
h2 {text-decoration: underline;
    font-family: 'Lucida Sans';
    font-size: 20px;
}
h3{text-decoration: underline;
    font-family: 'Lucida Sans';
}
h4{text-decoration: underline;
    font-family: 'Lucida Sans';
}
p{
    font-family:'Lucida Sans';
    font-size: small;
    text-align: justify;
    line-height: 1.5;
}
li{
    font-family: 'Lucida Sans';
    font-size: small;
    line-height: 1.5;
}
footer{
    text-align: center;
    padding: 8px;
    background-color: rgb(110, 10, 32);
    position: relative;
    font-style: oblique;
}